/**
 * All your custom CSS should go into this file
 */

body {
   padding-top: 15px;
}

#logo {
   text-align: center;
}

@media (max-width: 768px) {
   #logo {
      text-align: center;
   }

   #title {
      padding-top: 5px;
      text-align: center;
   }
}

@media (min-width: 768px) {
   #logo {
      text-align: left;
   }

   #title {
      margin-top: 45px;
      text-align: right;
   }
}
